<% layout("/layouts/boilerplate") %>
<div class="new">
    <h3>Create a Blog</h3>
    <form method="post" action="/home">
    <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="list[title]" class="form-control" required>
</div>
<div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <div class="dropdown">
        <select class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="list[category]">
            <option name="Tech">
                Tech
            </option>
            <option name="Food">
                Food
            </option>
            <option name="Travel">
                Travel
            </option>
            <option name="Lifestyle">
                Lifestyle
            </option>
            <option name="Health and fitness">
                Health and fitness
            </option>
            <option name="Business">
                Business
            </option>
            <option name="Fashion and Beauty">
                Fashion and Beauty
            </option>
        </select>
    </div>
</div>
<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="list[description]" class="form-control"></textarea>
</div>
<div class="mb-3">
    <label for="image" class="form-label">Image URL 1 *</label>
    <input type="text" name="list[image1]" class="form-control" required>
</div>
<div class="mb-3">
    <label for="image" class="form-label">Image URL 2</label>
    <input type="text" name="list[image2]" class="form-control">
</div>
<div class="mb-3">
    <label for="image" class="form-label">Image URL 3</label>
    <input type="text" name="list[image3]" class="form-control">
</div>
<button type="submit" class="btn btn-dark">Create</button>
</form>
